body {
  /* dont delete this code  */
  background-color: lightblue;
  background-repeat: no-repeat;
  background-image: url(https://i.pinimg.com/564x/e3/4c/f8/e34cf877b0e0a65630ede1b1e884d807.jpg);
  /* المطلوب الخامس هنا */
  /* اجعل الصورة تلتصف بالصفحة عند النزول بالصفحة  */
  /* اجعل الصورة تظهر بمتنصف الصفحة */
}

h1{
/* المطلوب الأول هنا */

}



/* المطلوب الثاني هنا */
li{

}


li:hover{

}


/* المطلوب الثالث هنا */
.continer{


}

img{


}